<!DOCTYPE html>
<html data-color-scheme="<%= Fuik::Engine.config.color_scheme %>">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Fuik Admin" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "fuik/application", media: "all" %>
  <script src="<%= asset_path("attractivejs-0.12.0.min.js") %>"></script>
</head>
<body>
  <main>
    <%= yield %>
  </main>
</body>
</html>
